body {
	margin: 0;
}

.nav a {
	float: left;
	text-decoration: none;
	color:black;
	padding: 10px;

	transition: all 0.5s ease; 
}

.nav a:hover {
	color:gray;
}

.close {
	float: right;
	position: absolute;
	height: 100px;
	display: block;
	width: 100px;
}



.navFonts {
	font-family: Graphik;
	font-size: 13px;
	padding: 5px 10px;
	text-align: left;
}

.dropdown button {

	border: none;
	outline: none;
	margin: 0; /* Important for vertical align on mobile phones */

	font-family: Graphik;
	font-size: 13px;
	padding: 10px;
	text-align: left;

	background: none;

	transition: all 1s ease;
}

.dropdown button:hover {
	color:gray;
}

.linkArea:first-child {
	padding-left: 10px; 
}

.linkArea {

    height: 100%;
    padding: 5px 20px 15px;
    margin: 0;
    
    display: flex;
    align-content: center;
    justify-content:center;

    flex-direction: column;
    text-align: center;

    text-decoration: none;
    color:black;

    opacity: 0;

    transition: all 1s ease;
}

.title {
	font-family: Graphik;
	position: relative;
	font-size: 13px;
	color:white;
}

.circle {

	display: block;
	height: 60px;
	width: 60px;
	background:black;
	margin: 10px;
	border-radius: 50%;
	position: relative;

	align-self:center;



}

.circle:hover {
	background: red;
}


.nav {
	background: #e3e3e3;

	display: flex;
}

.drawer {
	display: flex;
	background-color: black;
	max-height: 600px;

	overflow-y: scroll;
	scrollbar-width: none;

	transition: all .2s ease;

}

.closeDrawer {
	background-color: black;
	max-height: 0px;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.opacity1 {
	opacity: 100%;
}

.transition {
	transition: all .2s ease;
}



.dropdown-content {
	display: block;
	opacity: 1;
	position: relative;
	background-color: yellow;
	width: 100%
	background: blue;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;

}

.move-down {
	display: block;
	transform: translateY(10px);
	opacity: 1;
}
